.align-right{
    text-align: right;
}
.chat-container{
    //height: 400px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 10px;
}
.chat-container div{
    padding-right: 20px;
    padding-left: 20px;
    display: table;
}
.chat-container div.reverse {
    display: flex;
    flex-direction: row-reverse;
}
.chat-container p{
    position: relative;
    background-color: #f2f2f2;
    //color: #9b9b9b;
    color: #262626;
    padding: 5px 5px 0px 5px;
    border-radius: 3px;
    margin-bottom: 5px !important;
    font-size: 15px;
}
.chat-container div.reverse p{
    float: right;
    clear: right;
    background-color: #ccebff;
    color:#262626;
}
.remove-button{
    width: inherit;
    height: inherit;
    line-height: 0;
    position: absolute;
    top: 10px;
    right: -23px;
}

.node .remove-button{
    display: none;
}

.node:hover .remove-button {
    display: flex;
}
.chat-time{
    font-size: 10px;
    color: #8c8c8c;
}




.app-sidenav-container {
    flex: 1;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
  }
  
  .app-sidenav-content {
    display: flex;
    height: 100%;
  
    flex-direction: column;
  }
  
  .app-sidenav {
    width: 240px;
  }
  
  .wrapper {
      margin: 20px;
  }
  
  .mat-drawer-side{
    border-right: none;
  }
  a.active-list-item {
    background: rgba(63,81,181,.15) !important;
    color: #3f51b5 !important;
  }

  .mat-sidenav-content{
      margin-left: 0;
  }

  $iconWidth: 56px;

.toolbar-spacer {
  flex: 1 1 auto;
}

.sidenav-toggle {
  display: none;

  padding: 0;
  margin: 8px;
  min-width: $iconWidth;

  @media (max-width: 720px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  mat-icon {
    font-size: 30px;
    height: $iconWidth;
    width: $iconWidth;
    line-height: $iconWidth;
    color: white;
  }
}