.toolbar-spacer {
    flex: 1 1 auto;
  }

  mat-grid-tile {
    background: lightblue;
  }
  div.tooltip {
    text-align: center;
    padding: 2px;
    background: lightsteelblue;
    border: 0px;
    pointer-events: none;
}
table {
  width: 100%;
}